@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #101828;
  --secondary-text-color: #475467;
  --input-text-color: #6C717B;
  --accent-darkgreen-color: #87d28d;
  --button-color: #E44848;
  --button-hover-color: #D84343;
  --starts-color: #FFC531;
  --inputs-background-color: #F7F7F7;
  --header-background-color: #F2F4F7;
  --secondary-logo-color: #DADDE1;
  --white-color: #FFFFFF;
};

body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
};

ul {
  margin: 0;
  padding: 0;
  list-style: none;
};

a {
  color: currentColor;
  text-decoration: none;
};

img {
  display: block;
  max-width: 100%;
  height: auto;
};