.name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 340px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color: var(--main-text-color);
}

.secondaryInfo {
    display: flex;
    margin-top: 8px;
    gap: 16px;
}

.reviews {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline;
    color: var(--main-text-color);
}

.star {
    height: 20px;
    width: 22px;
    color: var(--starts-color);
}

.location {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-text-color);
}

.map {
    height: 22px;
    width: 21px;
}

.price {
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color: var(--main-text-color);
}

.list {
    display: flex;
    margin-top: 28px;
    gap: 48px;
    list-style: none;
}

.photo {
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    margin-top: 28px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-text-color);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;
  }

.modalPhoto {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: cover;
    border-radius: 40px;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}